<h1>Enter your user name</h1>
<formg name="myWebForm" action="myServerSideScript.php" method="post">
   <p><input type="checkbox" /> Checkbox 1<br /></p>
   <input type="text" /> User name<br />
   <input type="submit" value="SUBMIT" />
<h6>Huy, pizda i trololo</h6>
