<form name="SummForm" action="/summ/" method="POST">
<input name="ras" type="text" />Number 1 
<input name="dva" type="text" />Number 2 
<input type="submit" value="CALCULATE" />
<br>
<input type="radio" name="GROUP" value="Plus"> Plus<br>
<input type="radio" name="GROUP" value="Minus" > Minus<br>
<input type="radio" name="GROUP" value="Multiplication"> Multiplication.<br>
<input type="radio" name="GROUP" value="Division"> Division<br>
</form>