<form name="TodoForm" action="/summ/" method="POST">
<input name="first" type="text" />Todo 
<input name="first" type="" />

<br> 
<input type="submit" value="AddTodo" />
<br>
<input type="submit" value="DeleteTodo" />

</form>