<html>
<head>
	<center><h3>My todo list </h3></center>
</head>
<body>
<% @todo.each do |todo| %>

		     <p>
          ID :<%=todo.id %>
          
          <p>
  		
  			<p>status:<%=todo.status%></p>
  		
		    <p>task:<%=todo.name %></p>
       <br>
</table>
<% end %>

</body>




<footer>1 - не сделанно, 2 - сделанно, 3 - отложенно</footer>
</html>